@font-face {
    font-family: 'YekanBakh';
    src: url('./fonts/YekanBakhFaNum-Regular.eot');
    src: url('./fonts/YekanBakhFaNum-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/YekanBakhFaNum-Regular.woff2') format('woff2'),
        url('./fonts/YekanBakhFaNum-Regular.woff') format('woff'),
        url('./fonts/YekanBakhFaNum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Peyda';
    src: url('./fonts/PeydaFaNum-Black.eot');
    src: url('./fonts/PeydaFaNum-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/PeydaFaNum-Black.woff2') format('woff2'),
        url('./fonts/PeydaFaNum-Black.woff') format('woff'),
        url('./fonts/PeydaFaNum-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

